<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Général">
        <setting id="displayreleasedate" type="bool" label="Afficher la date de sortie avec le titre" default="false"/>
        <setting id="keeporiginaltitle" type="bool" label="Garder le titre original" default="false"/>
        <setting id="skiprerelease" type="bool" label="Ignorer les re-sorties en salle d'ancien film" default="true"/>
        <setting id="date_limit_comingsoon" type="enum" label="Limite future pour les BA &quot;Prochainement&quot;" values="3 mois|6 mois|1 an|Aucune" default="0" />
        <setting id="date_limit_nowshowing" type="enum" label="Limite passée pour les BA &quot;Au cinéma&quot;" values="3 mois|6 mois|1 an|Aucune" default="0" />
        <setting id="quality" type="enum" label="Qualité vidéo préférée" values="Bas débit|Moyen débit|Débit standard|Haut débit" default="3" />
        <setting label="Horaires de cinéma" type="lsep"/>
        <setting id="zip" type="number" label="Code postal" />
        <setting id="radius" type="number" label="Rayon (en km)" />
    </category>
    <category label="Avancé">
        <setting id="trailer_path" type="folder" source="files" label="Répertoire des trailers" default="special://userdata/addon_data/plugin.video.allocine/cache" />
    </category>
</settings>
