<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="30202">
        <setting label="30001" type="enum" id="category" lvalues="30002|30003" default=0/>
        <setting label="30006" type="action" option="close" action="RunPlugin(plugin://plugin.video.xbmc.tele.fr/?mode=2000000)" />
    </category>

    <category label="30204">
        <setting label="30008" type="bool" id="multi_sources" default="false"/>
    </category>

    <category label="30203">
        <setting label="30013" type="bool" id="epg_display" default="false"/>
        <setting label="30015" type="slider" id="nb_epg_program" subsetting="true" default="5" range="1,1,10" option="int" visible="eq(-1,true)"/>
    </category>

    <category label="30205">
        <setting label="30028" type="bool" id="empty_category" default="false"/>
        <setting label="30027" type="bool" id="broken_channel" default="false"/>
        <setting label="30007" type="bool" id="broken_stream" default="false"/>
    </category>

</settings>
