<settings>

	<category label="Búsqueda">
		<setting id="pregunta_search" type="bool" label="¿Usar búsqueda personalizada?" default="false"/>
		<setting id="search_query" type="text" label="- Buscar:" default="" enable="eq(-1,true)"/>
		<setting type="lsep" label=""/>
		<setting id="sort" label="Ordenado por..." type="enum" default="0" values="Relevancia|Popularidad|El más nuevo|El más viejo|Mayor tamaño|Menor tamaño"/>
		<setting id="anyday" label="Subido en..." type="enum" default="4" values="Cualquier día|Las últimas 24h|La última semana|El último mes|Los 2 últimos meses|Los 4 últimos meses|Los últimos 6 meses|El último año"/>
		<setting id="pages" label="Cantidad máxima de resultados" type="labelenum" default="20" values="10|20|30|40|50|60|70|80"/>
	</category>
	
	<category label="Servidores">
		<setting id="allmyvideos" type="bool" label="allmyvideos.net" default="true"/>
		<setting id="movshare" type="bool" label="MOVSHARE" default="false"/>
		<setting id="played" type="bool" label="PLAYED.TO" default="true"/>
		<setting id="sockshare" type="bool" label="Sockshare" default="false"/>
		<setting id="vidspot" type="bool" label="VIDSPOT.net" default="true"/>
		<setting id="vodlocker" type="bool" label="VoDLocker" default="false"/>
	</category>
	
	<category label="FilesTube API">
		<setting id="pregunta_API" type="bool" label="Utilizar API propia (http://filestube.to/api.html)" default="false"/>
		<setting id="api_number" type="text" label="- Ingresa tu API key:" default="" enable="eq(-1,true)"/>
	</category>
	
</settings>
